In [8]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')
#dataframe = pd.read_excel('pokemon_data.xlsx')
#dataframe = pd.read_csv('pokemon_data.txt, delimiter='\t')
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [22]:
#### Read Headers
df.columns

## Read each Column
df[['Name', 'Type 1', 'Type 2', 'Generation']]

## Read Each Row
#df.iloc[1:4]
#for idx,row in df.iterrows():
#    print(idx, row['Name'])
df.loc[(df['Type 1'] == 'Poison') | (df['Type 2'] == 'Poison')]

## Read a specific location (R,C)
#df.iloc[2,1]

       #                   Name  Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur   Grass  ...    45           1      False
1      2                Ivysaur   Grass  ...    60           1      False
2      3               Venusaur   Grass  ...    80           1      False
3      3  VenusaurMega Venusaur   Grass  ...    80           1      False
16    13                 Weedle     Bug  ...    50           1      False
..   ...                    ...     ...  ...   ...         ...        ...
630  569               Garbodor  Poison  ...    75           5      False
651  590                Foongus   Grass  ...    15           5      False
652  591              Amoonguss   Grass  ...    30           5      False
760  690                 Skrelp  Poison  ...    30           6      False
761  691               Dragalge  Poison  ...    44           6      False

[62 rows x 12 columns]

In [23]:
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [26]:
df.sort_values(['HP', 'Type 1'], ascending=[False, True])

       #       Name   Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
261  242    Blissey   Normal    NaN  ...      135     55           2      False
121  113    Chansey   Normal    NaN  ...      105     50           1      False
217  202  Wobbuffet  Psychic    NaN  ...       58     33           2      False
351  321    Wailord    Water    NaN  ...       45     60           3      False
655  594  Alomomola    Water    NaN  ...       45     65           5      False
..   ...        ...      ...    ...  ...      ...    ...         ...        ...
487  439   Mime Jr.  Psychic  Fairy  ...       90     60           4      False
139  129   Magikarp    Water    NaN  ...       20     80           1      False
381  349     Feebas    Water    NaN  ...       55     80           3      False
55    50    Diglett   Ground    NaN  ...       45     95           1      False
316  292   Shedinja      Bug  Ghost  ...       30     40           3      False

[800 rows x 12 columns]